@import "tailwindcss";

html,
body,
#root {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
}

button,
input {
  font: inherit;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
  margin: 20px 0;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #c4b5fd;
  border-radius: 999px;
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #a78bfa;
}